.estilofondo1{
   background-color: black;
}
.estilouno{
    color: rgb(245, 98, 98);
    font-size: 80px;
    font-weight: 600;
}
.estilodos{
    color: rgb(244, 103, 103);
    font-size: 30px;
    font-weight: 600;
}
.H1CARRO{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 500;
    text-decoration: underline;
}